body {
    margin: 0 auto;
    padding: 4em 1em;
    max-width: 50em;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(77, 77, 77);
}

h1 {
    margin-top: 1em;
    padding-top: 1em;
}

.otsikko { color: #333;}

.vierekkain {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2em;
}

.huom { color: #929292;}
